replicaCount: 2
ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: python-app-on-org.parcer.com
      paths:
        - path: /
          pathType: Prefix
  tls: []
resources:
  requests:
    cpu: 60m
    memory: 60M