ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: python-app-on-org-dev.parcer.com
      paths:
        - path: /
          pathType: Prefix
  tls: []
resources:
  requests:
    cpu: 40m
    memory: 40M